body{
    font-size: 16px;
    color:#fff;
    background-color: rgb(199, 194, 194);
    font-family: 'Courier New', Courier, monospace;
    padding:0;
    margin:0;
    width: 100%;
    box-sizing: border-box;
}
#header-nav{
    background-color: rgb(64, 133, 110);
    border:2px solid black;
}
a:hover{
    background-color: bisque;
}
h1{
    margin:0;
    float:right;
    color:black;
}
button.navbar-toggle{
width:50px;
height:50px;
border:2px solid black;
background-color:brown;

}
li{
    text-align: center;
    border:2px solid black;
}
li a{
    color:yellow;
    
}
#title{
    color:darkslateblue;
    text-align: center;
    text-shadow: 2px 2px lightcoral;
    text-transform: uppercase;
    font-weight: bold;
}

.row div{
    height:1200px;
    border:2px solid black;   
    margin-bottom: 20px;
    position: relative;
    
    
}
  h3{
      color:rgb(59, 34, 117);
      text-align: center;
      font-weight: bold;
  }
  p{
      margin-right: 1px;
      margin-left: 2px;
      margin-top: 15px;
      color:rgb(131, 10, 16);
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-style: italic;
      max-width: 100%;
  }
  @media (min-width: 570px) and (max-width: 767px) {
    .row div {
        height:1850px;
        border:2px solid black;   
        margin-bottom: 20px;
        position: relative;  
    }
  }
  @media (max-width: 569px) {
    .row div {
        height:1000px;  
    }
  }